<div class="row">
  <div class="col-sm-9"></div>
  <div class="col-sm-3">
    <app-test></app-test>
  </div>
</div>
<!-- <div class="pp"><h2  class="p">Only you need to find yourself ,</h2> <h2  class="p"> Everything else can be googled</h2> -->
<!-- </div> -->
<div class="clearfix pb-sm-3"></div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">
    <!-- <app-popularposts> </app-popularposts> -->
  </div>
  <div class="col-sm-3">
    <!-- <app-popular></app-popular> -->
  </div>
</div>
